* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

body {
  background-color: #55828b;
}

section {
  margin: 8rem auto;
  width: 90%;
}

header {
  background-color: #364958;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}

.navlink {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin: 1rem;
}

.navlink:hover {
  color: red;
}

.mainnav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #364958;
  font-size: 30px;
}

.mainlinks {
  color: #fff;
  border-right: 1px solid black;
  text-align: center;
  width: 25%;
  padding: 1rem;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  width: 200px;
  margin: 1rem;
  background-color: #c9e4ca;
  text-decoration: none;
  color: #3b6064;
}

/* LOGIN/SIGN UP STYLE */
.formstyle {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
  width: 100%;
}

.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}

.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center .inputbox:last-child {
  margin-bottom: 0;
}

.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}

.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}